div#App {
  height: 100%;
  padding: 8px;
  display: flex;
  flex-flow: column nowrap;
  overflow: hidden;
}

div#App ul {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(150px, 1fr));
  gap: 8px;
}

div.dark {
  background-color: #242526;
  color: #e3e3e3;
}
